---
layout: home
# Index page
---

<h1>
  Hi,&#128075;
  <br>
  I'm
  <a href="https://samirpaul1.github.io/about"><strong>Samir Paul</strong></a>.
</h1>

<div>
<!-- Font awesome social icons -->
<i class="fab fa-linkedin ml-2 mr-2"></i><a href="https://www.linkedin.com/in/SamirPaul">LinkedIn</a>
<i class="fab fa-github ml-2 mr-2"></i><a href="https://github.com/SamirPaul1">GitHub</a>
<i class="fab fa-twitter ml-2 mr-2"></i><a href="https://twitter.com/SamirPaulb">Twitter</a>
<i class="fab fa-instagram ml-2 mr-2"></i><a href="https://instagram.com/SamirPaulb">Instagram</a>
</div>
<br>

<p style="font-family:Tinos"><img id="bigavatar" src="https://samirpaulb.github.io/assets/samirpaul-blog-home-page-bigavatar.webp" data-src="https://samirpaulb.github.io/assets/blog/bigavatar.webp" alt="Samir Paul" width="200" height="200" style="max-width: 200px" class="right shadow">I am an undergraduate student at the National Institute of Technology, Durgapur. I enjoy problem-solving and coding. I love solving questions on LeetCode and doing competitive programming. I am well-versed in Computer Science fundamentals like OOPS, Operating Systems, Database Management Systems, and Computer Networks and I also have a keen interest in High-Level System Design. I have built a few projects on Web Development using MongoDB, Express, ReactJS and Node.js, and App Development using Dart and Flutter. I am passionate about developing complex applications that solve real-world problems impacting millions of users. I always strive to bring 100% to the work I do.
</p>

<p style="font-family:Consolas"><b>Languages:</b> Python, Java, JavaScript, C, C++, HTML/CSS, Bash </p>
<p style="font-family:Consolas"><b>Databases:</b> MySQL, PostgreSQL, MongoDB </p>
<p style="font-family:Consolas"><b>Libraries:</b> NumPy, Pandas, OpenCV </p>
<p style="font-family:Consolas"><b>Frameworks:</b> Flask, Django, React.js, Node.js, TensorFlow, PyTorch</p>
<p style="font-family:Consolas"><b>Tools & Technologies:</b> Git, Docker, AWS, GCP, Heroku, JIRA </p>

<p style="font-family:Tinos">Looking for an opportunity to work in a challenging position combining my skills in Software Engineering, which provides professional development, interesting experiences and personal growth.</p>

<hr>
<p align="center">
  <img alt="Education" src="https://samirpaulb.github.io/assets/blog/education.svg"/> 
</p>

<p><i class="fas fa-graduation-cap"></i> <a href="https://nitdgp.ac.in/" target = "_blank"><strong>NATIONAL INSTITUTE OF TECHNOLOGY DURGAPUR</strong></a></p>
<p>B.Tech (Electronics and Communication Engineering) <code>Nov 2020 - July 2024</code></p>
<p style="font-family:Tinos"> • 9/10 CGPA.</p>
<b> </b>

<p><i class="fas fa-graduation-cap"></i> <a href="#"><strong>SILIGURI BARADAKANTA VIDYAPITH</strong></a></p>
<p>WBCHSE &amp; WBBSE <code>2013 - 2020</code></p>
<p style="font-family:Tinos"> • WBCHSE (Senior Secondary Class XII) 92.00% PCM & Computer Science.</p>
<p style="font-family:Tinos"> • WBBSE (Secondary Class X) 96.14% General Studies.</p>

<hr>
<p align="center">
   <img alt="Experience" src="https://samirpaulb.github.io/assets/blog/experience.svg"/> 
</p>

<p><i class="fas fa-briefcase"></i> <a href="https://www.amazon.in/" target = "_blank"><strong>AMAZON</strong></a></p>
<p>Machine Learning Trainee <code>Jun 2022 - July 2022</code></p>
<p style="font-family:Tinos"> • Learned and implemented various concepts of Machine Learning(Supervised-Unsupervised Learning, Neural Networks).</p>
<b> </b>

<p><i class="fas fa-briefcase"></i> <a href="http://www.niti.gov.in/" target = "_blank"><strong>NITI AAYOG</strong></a></p>
<p>Data Management and Analytics Intern <code>July 2021 – Oct 2021</code></p>
<p style="font-family:Tinos"> • Worked with NDAP in the data sourcing workstream. Created and analysed datasets for PSUs and autonomous bodies.</p>
<p style="font-family:Tinos"> • Used Python NumPy and Pandas in Jupyter notebook to create and visualise PyCharts.</p>
<p style="font-family:Tinos"> • Worked on SDG Index and analysed the upcoming use of AR-VR in the non-gaming sector in India.</p>
<b> </b>

<p><i class="fas fa-briefcase"></i> <a href="https://www.thinkindiaorg.in/" target = "_blank"><strong>THINK INDIA</strong></a></p>
<p>Public Policy Intern <code>Jun 2021 - July 2021</code></p>
<p style="font-family:Tinos"> • Created reports and blog posts for Think India and worked under the guidance of the Nyaypravah organization.</p>

<hr>
<p align="center">
   <img alt="Coding Profiles" src="https://samirpaulb.github.io/assets/blog/coding.svg"/> 
</p>

<p><i class="fas fa-laptop-code"></i> <a href="#"><strong>Coding Profiles</strong></a></p>
<p align="center"><b>SamirPaul1</b> across coding platforms.</p>
<p style="font-family:Tinos" align="center"><strong> <a href="https://github.com/SamirPaul1" target = "_blank"><b>GitHub</b></a> • <a href="https://leetcode.com/samirpaul1" target = "_blank"><b>LeetCode</b></a> • <a href="https://auth.geeksforgeeks.org/user/samirpaul1/" target = "_blank"><b>GeeksforGeeks</b></a> • <a href="https://www.codechef.com/users/samirpaul1" target = "_blank"><b>CodeChef</b></a> • <a href="https://www.hackerrank.com/samirpaul1" target = "_blank"><b>HackerRank</b></a> </strong></p>

<hr>
<p><i class="fas fa-laptop-code"></i> <a href="#"><strong>Languages And Tools</strong></a></p>
<p align="center">
  
  <a href="#"> 
  <img alt="Python" width="26px" src="https://samirpaulb.github.io/assets/blog/python.png"> 
  <img alt="MySQL" width="26px" src="https://samirpaulb.github.io/assets/blog/mysql.png">
  <img alt="Java" width="26px" src="https://samirpaulb.github.io/assets/blog/java.png">
  <img alt="HTML5" width="26px" src="https://samirpaulb.github.io/assets/blog/html.png">
  <img alt="CSS3" width="26px" src="https://samirpaulb.github.io/assets/blog/css.png">
  <img alt="JavaScript" width="26px" src="https://samirpaulb.github.io/assets/blog/javascript.png">
  <img alt="C" width="26px" src="https://samirpaulb.github.io/assets/blog/c.png">
  <img alt="C++" width="26px" src="https://samirpaulb.github.io/assets/blog/cpp.png">
  <img alt="Git" width="26px" src="https://samirpaulb.github.io/assets/blog/git.png">
  <img alt="Django" width="26px" src="https://samirpaulb.github.io/assets/blog/django.png">
  <img alt="ReactJS" width="26px" src="https://samirpaulb.github.io/assets/blog/react.png">
  <img alt="Powershell" width="26px" src="https://samirpaulb.github.io/assets/blog/powershell.png">
  <img alt="Sublime" width="26px" src="https://samirpaulb.github.io/assets/blog/sublime.png">
  <img alt="VS-Code" width="26px" src="https://samirpaulb.github.io/assets/blog/vscode.png">
  <img alt="Intellij" width="26px" src="https://samirpaulb.github.io/assets/blog/intelejidea.png">
  <img alt="Pycharm" width="26px" src="https://samirpaulb.github.io/assets/blog/pycharm.png">
  <img alt="Windows" width="26px" src="https://samirpaulb.github.io/assets/blog/windows.png">
  <img alt="MacOS" width="26px" src="https://samirpaulb.github.io/assets/blog/macos.png">
  <img alt="Linux" width="26px" src="https://samirpaulb.github.io/assets/blog/linux.png">
  </a>


</p>  

<hr>
<p align="center">
   <img alt="Projects" src="https://samirpaulb.github.io/assets/blog/projects.svg"/> 
</p>

 
<h3 id="-dsalgo-github-stars"><i class="fas fa-code"></i> <a href="https://github.com/SamirPaul1/DSAlgo">DSAlgo</a> <img src="https://img.shields.io/github/stars/SamirPaul1/DSAlgo?style=social" alt="GitHub Stars"></h3>
<p>This repository consists of many problems and their solutions in Python 3 on Data Structures and Algorithms which I have come across while Learning DSA on various competitive programming sites. The Git repo is available: <a href="https://github.com/SamirPaul1/DSAlgo">Here.⇗</a></p>
<h3 id="-portfolio-website"><i class="fas fa-code"></i> <a href="https://samirpaul1.github.io/portfolio">Portfolio Website</a></h3>
<p>A Project for making a blog website attaching about me, contacts, live-map location-services, send a message, all certificates, fetching all current activities on GitHub for opensource contributions. It is a fully customizable website also. The Git repo is available: <a href="https://github.com/SamirPaul1/portfolio">Here.⇗</a></p>
<h3 id="-music-player"><i class="fas fa-code"></i> <a href="https://samirpaul1.github.io/music/">Music Player</a></h3>
<p>A Music Player App developed using JavaScript, CSS, and HTML. The user can make collection of songs, click the Forward play, Backward play, Playlist loop and Shuffle music buttons to change the songs. The source code is available: <a href="https://github.com/samirpaul1/music">Here.⇗</a></p>
<h3 id="-codeforcesvisualizer"><i class="fas fa-code"></i> <a href="https://samirpaul1.github.io/CodeforcesVisualizer/">CodeforcesVisualizer</a></h3>
<p>Made a Codeforces Visualizer. Users can input any Username and can see particular user ratings as well as other pieces of information in the form of tables and graphs.(HTML,CSS,Jquery,JS charts,Codeforces API). The Git repo is available: <a href="https://github.com/SamirPaul1/CodeforcesVisualizer">Here.⇗</a></p>
<h3 id="-make-notes-app"><i class="fas fa-code"></i> <a href="https://samirpaul1.github.io/MakeNotes/">Make Notes App</a></h3>
<p>Users can Make Important Notes as well as save them for future reference. You can mark important as well as non-important which makes it very easy to distinguish between different notes.(Html,Bootstrap,CSS,Javascript). The Git repo is available: <a href="https://github.com/SamirPaul1/MakeNotes">Here.⇗</a></p>
<h3 id="-weather-app"><i class="fas fa-code"></i> <a href="https://samirpaul1.github.io/WeatherApp/">Weather App</a></h3>
<p>A Weather App that pulls from the OpenWeatherMap API to allow users to search for and view the forecast in cities worldwide. Built with JavaScript, CSS, HTML, Theodinproject, OpenWeatherMap API. The Git repo is available: <a href="https://github.com/SamirPaul1/Weather">Here.⇗</a></p>
<h3 id="-text-file-compressor"><i class="fas fa-code"></i> <a href="https://samirpaul1.github.io/txt-compressor/">Text File Compressor</a></h3>
<p>An online .txt file compressor, de-compressor tool uses Huffman Coding for Lossless Data Compression. An <a href="https://samirpaul1.github.io/txt-compressor/info.html">Info Page</a> is also added about the compression technique and the compression ratio is also displayed. (HTML, CSS, PHP, Javascript). The Git repo is available: <a href="https://github.com/SamirPaul1/txt-compressor">Here.⇗</a></p>
<h3 id="-online-pdf-compressor"><i class="fas fa-code"></i> <a href="https://github.com/SamirPaul1/filecompressor">Online PDF Compressor</a></h3>
<p>An online PDF file compression tool. Python Flask is used to upload a file to a temporary location on the server then using the PDFNetPython library that file gets reduced and automatically removed after 1 hour. (Python3, Flask, C, Shell, Nix, HTML, CSS, JavaScript). Source code available: <a href="https://github.com/SamirPaul1/filecompressor">Here.⇗</a></p>
<h3 id="-linktree-clone"><i class="fas fa-code"></i> <a href="https://samirpaul1.github.io/link/">Linktree Clone</a></h3>
<p>A simple webpage to group all profiles on social networks in one place. A clone of popular social media referencing site Linktree, under the MIT license. The website is made responsive (with HTML5 and CSS3). The GitHub repository is available: <a href="https://github.com/SamirPaul1/link">Here.⇗</a></p>
<hr>


<form>
  <div class="form-group">
    <textarea class="form-control" style="background-color:transparent; border: 2px solid #00aeba;" name="message" rows="2" data-rule="required" placeholder="Please write something for me!" 
    data-msg="Please write something for me!"></textarea>
  </div>
  <div class="text-center"><button style="border: 2px solid #00aeba; border-radius: 10px; margin:auto;display:block" onclick="window.open('https://samirpaul1.github.io/contact')">Send Message</button></div>
</form>


<br>
<div></div>
<p style="font-family:Tinos"><font size="-1"><em>All contents on this site are my own personal opinions/ideas and do not reflect the opinions of my institutions/organizations.</em></font></p>
